<header>
  <div class="logo-container left-logo">
    <img
      src="{{ url_for('static', filename='gurudev-mataji.png') }}"
      alt="Logo Left"
    />
  </div>

  <div class="special-heading">
    <p>
      <span class="stylish-text"
        >अखिल विश्व गायत्री परिवार, गायत्रीतीर्थ शांतिकुंज, हरिद्वार</span
      >,
    </p>
    <p>मध्यप्रदेश जोन</p>
    <p><strong>ज्योति कलश रथ यात्रा रिपोर्ट</strong></p>
  </div>

  <div class="logo-container">
    <img
      src="{{ url_for('static', filename='awgp-logo.png') }}"
      alt="Logo Right"
    />
  </div>
</header>
